NetaWeb/Service References/NetaServices/NetaServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetaService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetaService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBBandPassRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BBandPassRate" nillable="true" type="tns:BBandPassRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBBandPassRate" nillable="true" type="tns:ArrayOfBBandPassRate" />
  <xs:complexType name="BBandPassRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageSpeed" type="xs:decimal" />
      <xs:element minOccurs="0" name="PassRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BBandPassRate" nillable="true" type="tns:BBandPassRate" />
  <xs:complexType name="ArrayOfTopBroadbandSpeed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopBroadbandSpeed" nillable="true" type="tns:TopBroadbandSpeed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopBroadbandSpeed" nillable="true" type="tns:ArrayOfTopBroadbandSpeed" />
  <xs:complexType name="TopBroadbandSpeed">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageSpeed" type="xs:decimal" />
      <xs:element minOccurs="0" name="Lat" type="xs:decimal" />
      <xs:element minOccurs="0" name="Lng" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopBroadbandSpeed" nillable="true" type="tns:TopBroadbandSpeed" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>