NetaWeb/Service References/NetaServices/NetaServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetaService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetaService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBBandPassRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BBandPassRate" nillable="true" type="tns:BBandPassRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBBandPassRate" nillable="true" type="tns:ArrayOfBBandPassRate" />
  <xs:complexType name="BBandPassRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageSpeed" type="xs:decimal" />
      <xs:element minOccurs="0" name="PassRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BBandPassRate" nillable="true" type="tns:BBandPassRate" />
  <xs:complexType name="ArrayOfAuthorityPop_SyncSpeed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorityPop_SyncSpeed" nillable="true" type="tns:AuthorityPop_SyncSpeed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorityPop_SyncSpeed" nillable="true" type="tns:ArrayOfAuthorityPop_SyncSpeed" />
  <xs:complexType name="AuthorityPop_SyncSpeed">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AverageSync" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PopSize" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorityPop_SyncSpeed" nillable="true" type="tns:AuthorityPop_SyncSpeed" />
  <xs:complexType name="ArrayOfSpearmansRank">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpearmansRank" nillable="true" type="tns:SpearmansRank" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpearmansRank" nillable="true" type="tns:ArrayOfSpearmansRank" />
  <xs:complexType name="SpearmansRank">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrelationID" type="xs:int" />
      <xs:element minOccurs="0" name="CorrelationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpearmansRho" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpearmansRank" nillable="true" type="tns:SpearmansRank" />
  <xs:complexType name="ArrayOfAuthorityEmployment_Speed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorityEmployment_Speed" nillable="true" type="tns:AuthorityEmployment_Speed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorityEmployment_Speed" nillable="true" type="tns:ArrayOfAuthorityEmployment_Speed" />
  <xs:complexType name="AuthorityEmployment_Speed">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmploymentRanking" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EmploymentRate" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SpeedRanking" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SyncSpeed" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorityEmployment_Speed" nillable="true" type="tns:AuthorityEmployment_Speed" />
</xs:schema>