NetaWeb/Service References/NetaServices/NetaServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65118/NetaServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NetaService" />
  <xs:import schemaLocation="http://localhost:65118/NetaServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NetaDAL" />
  <xs:element name="MyView">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MyViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NetaService" minOccurs="0" name="MyViewResult" nillable="true" type="q1:ArrayOfBBandPassRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAverages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAveragesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NetaDAL" minOccurs="0" name="getAveragesResult" nillable="true" type="q2:ArrayOfaverage_performance_broadband" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUptakeByAuthority">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUptakeByAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NetaService" minOccurs="0" name="getUptakeByAuthorityResult" nillable="true" type="q3:ArrayOfAuthorityPop_SyncSpeed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSpearmansRankTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSpearmansRankTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NetaService" minOccurs="0" name="CreateSpearmansRankTableResult" nillable="true" type="q4:ArrayOfSpearmansRank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityEmployment_Speed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityEmployment_SpeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NetaService" minOccurs="0" name="GetAuthorityEmployment_SpeedResult" nillable="true" type="q5:ArrayOfAuthorityEmployment_Speed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolPR_BroadbandCorrelation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolPR_BroadbandCorrelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSchoolPR_BroadbandCorrelationResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountyAveragePerformance_BroadbandCorrelation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountyAveragePerformance_BroadbandCorrelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountyAveragePerformance_BroadbandCorrelationResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityPop_SyncSpeedCorrelation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityPop_SyncSpeedCorrelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthorityPop_SyncSpeedCorrelationResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthoritySpeed_EmploymentCorrelation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthoritySpeed_EmploymentCorrelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthoritySpeed_EmploymentCorrelationResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>